{
  "project_info": {
    "project_number": "451692891873",
    "project_id": "arcs-online-jeremiah-2026",
    "storage_bucket": "arcs-online-jeremiah-2026.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:451692891873:android:5d31fb3e85df63c90d31a0",
        "android_client_info": {
          "package_name": "com.jeremiah.arcs_online"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "__FIREBASE_ANDROID_API_KEY__"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}